* {
	box-sizing: border-box;
}

body {
	font: normal 16px Georgia, Arial, sans-serif;
	padding: 170px 5px 5px 5px;
	background-color: #e8e8e8;
}

img.pres-pic{
	height: 186px;
	width: 142px;
}

/* NAVIGATION BAR */
.nav-bar {
	overflow: hidden;
	background-color: #2a333e;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.nav-bar ul li {
	color: white;
}

#site-title {
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

#site-title a {
	text-decoration: none;
}

#site-title a:hover {
	text-decoration: none;
	color: white;
}

.nav-bar a {
	display: block;
	text-align: center;
	color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
	text-decoration: underline;
	color: red;
}

.article-heading {
	border: solid 1px black;
	margin-bottom: 5px;
}

.article-heading h1{
	text-align: center;
	font-size: 3em;
	margin-bottom: 5px;
	text-decoration: underline;
}

.article-heading h2{
	text-align: center;
	font-size: 1em;
	margin-bottom: 5px;
	font-style: italic;
}

#Polk-Pic{
	float:left;
	padding-right: 10px;
}

.accomplishments {
	display: block;
	margin: 15px 0px;
	clear: both;
}

.accomplishments ul li {
	margin: 10px 5px;
	font-style: italic;
	font-size: 1.10em;
	color: #ac4343;
}

#main-text {
	margin-bottom: 30px;
}


/*contact form css*/

.contact form{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	border: 1px blue solid;
	border-radius: 10px;
	padding: 20px 3%;
}
.contact form textarea{
	margin: 5px auto;
	width: 95%;
	height: 100px;
}
.contact form label{
	display:block;
	margin-bottom: 25px;
}

@media all and (min-width:940px){
	body {
		padding-top: 70px;
	}
	
	#Polk-Pic{
		display: block;
		text-align: center;
		width: 100%;
	}
	
	#site-title {
		float: left;
	}
	
	#site-title a:hover {
		text-decoration: none;
		background-color: #2a333e;
		color: #f2f2f2;
	}
	
	.nav-bar ul li {
		float: right;
	}


	
	.accomplishments{
		text-align: center;
	}
	
	#main-text {
		text-align: center;
		padding-top: 5px;
	}
	
	.nav-bar a:hover {
		text-decoration: none;
		background-color: red;
		color: white;
	}
}

